/*general styling*/
body {
  margin: 0;
  background-color: #FAF9F5;
}

.wrapper {
  width: 80%;
  margin: 5% 10%;
}

/*navigation bar*/

#logo {
  color: #F56400;
  font-size: 35px;
  font-weight: lighter;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  height: 80px;
  align-items: center;
  background-color: white;
}


/*table*/
.results {
  font-family: 'Source Sans Pro', sans-serif;
  border-collapse: collapse;
}

td, th {
  border: #A9A9A9	 1px solid;
  text-align: center;
  padding: 5px;
  color: #696969;
}

table {
  width: 100%;
  height: 500px;
}

th {
  font-size: 25px;
  color: #F56400;
  font-family: serif;
  font-weight: lighter;
  background-color: white;

}

#answer_two, #answer_four, #answer_five {
  text-align: left;
}

.left {
  width: 25%;
  font-weight: bold;
}

.dark {
  background-color: #E8E8E8	;
}

.light {
  background-color: #F8F8F8;
}

footer {
  color: #F56400;
  font-size: 18px;

}
